.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: var(--auth-background);
}
.content {
    background: var(--auth-content-background);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
    padding: 32px 40px 56px 40px;
    border-radius: 24px;
}