
.wrapper {
    .form {
        margin-top: 24px;
    }
    .title {
        margin-bottom: 8px;

        .titleText {
            display: flex;
            p {
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 16px;
                color: #32324D;
                margin-right: 10px;
            }

        }
    }
    .formTitle {
        margin-bottom: 8px;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        color: #32324D;
        margin-top: 24px;
        margin-bottom: 8px;
    }
    .description {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #32324D;
        margin-bottom: 16px;
        &Req {
            margin-top: 8px;
        }
    }
    .draggerImage {
        display: flex;
        justify-content: space-between;
        .dragger {
            // width: 50%;
            height: 70px;
            border-radius: 8px;
            &Desc {
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 16px;
                padding: 8px;
                color: #475467;
            }
        }
        .image {
            // width: 200px;
            height: 100px;
        }
    }

    :global {
        .ant-form-item {
            display: flex;
            flex-direction: column;

            // &:not(:last-child) {
            //     margin-right: 16px;
            // }
            
        }
        .ant-input-number {
            width: 100%;
            border-radius: 8px;
            height: 44px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 16px;
            input {
                border-radius: 8px;
                height: 44px;
                &:hover {
                    border: transparent;
                }
            }
        }
        .ant-form-item-label {
            text-align: left;
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 16px;
            color: #32324D;
        }
        .ant-form-item-label > label::after {
            display: none;
        }
        .ant-input {
            border-radius: 8px;
            height: 44px;
            display: flex;
            align-items: center;
            justify-content: center;
            input {
                border-radius: 8px;
                height: 44px;
                &:hover {
                    border: transparent;
                }
            }
        }
    }
}

.inputs {
    display: flex;
    gap: 16px;
}

.configTitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #667085;
}

.button {
    display: flex;
    justify-content: flex-end;
}

.hintTitle {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 4px;
}

.hintText {
    // width: 413px;
    padding-left: 24px;
    line-height: 16px;
}

.loading {
    margin-top: 24px;
}