.statusColumn {
    width: 30px;
    padding: 4px 10px;
    justify-content: center;
    align-items: center;
    :global{
        .ant-table-filter-column {
            margin-left: -5px;
        } 
        .ant-table-filter-trigger {
            margin: 0;
        }
    }
}

.titleColumn {
    display: block;
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tagProcess {
    background: #F2F4F7;
    color: #475467;
    border-radius: 200px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    border: transparent;
}
.tagSuccess {
    background: #ECFDF3;
    color: #039855;
    border-radius: 200px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    border: transparent;
}
.tagError {
    background: #FEF3F2;
    color: #D92D20;
    border-radius: 200px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    border: transparent;
}