.form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.item {
    width: 100%;
}
.button {
  width: 165px;
  max-width: 165px;
  justify-content: center;
  align-self: center;
}
.title {
    text-align: center;
    margin-bottom: 40px;
    text-transform: capitalize;
}
.controls {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 28px;
}
.input {
    height: 48px;
}