.defaultToolTip {
    :global {
        .ant-tooltip-content {
            font-family: "Inter";
            padding: 4px;
            .ant-tooltip-arrow span{
                background-color: var(--white);
            }
            
            .ant-tooltip-inner {
                padding: 16px;
                background-color: var(--white);
                text-align: justify;
                border: unset;
                color: var(--text-primary);
            }
        }
    }
}
.bottom :global .ant-tooltip-content .ant-tooltip-arrow {
    top: -1px;
}
.right :global .ant-tooltip-content .ant-tooltip-arrow {
    bottom: 0;
    left: -1.5px;
}
.lineTooltip {
    max-width: max-content;
}