.wrapper {
    padding: 12px 120px 24px 120px;
    height: 100%;

    overflow-y: scroll;
    :global {
        .ant-tabs {
            height: 90%;
        }
        .ant-tabs-content {
            height: 100%;
        }
        .ant-tabs-tabpane {
            height: 100%;
        }
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .back {
        display: flex;
        align-items: center;
    }
}



.title {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #101828;
    margin-left: 16px;
}

